/* USER VARIABLES SECTION */

:root {
	--accent: #33b1ff;
	--main-text: #121619;
	--sec-text: #697077;
	--regular-text: 18px;
	--lineheight: 30px;
	--userfont: inter-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--box-shadow: 0px 8px 80px rgba(18, 22, 25, 0.16);
	--alt: #24A148;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 2.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/Inter-Regular.woff2") format("woff2"); font-family: "inter-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Inter-Italic.woff2") format("woff2"); font-family: "inter-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/Inter-Medium.woff2") format("woff2"); font-family: "inter-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/Inter-Bold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"); font-family: "inter-st"; font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--sec-text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5{
	font-weight: 700;
	color: var(--main-text)
}
h1{
	font-size: 72px;
}
h2{
	font-size: 48px;
}
h3{
	font-size: 28px;
}
h4{

}

/* USER STYLES */
.text-center{
	text-align: center;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-60{
	margin-bottom: 60px;
}
.mt-20{
	margin-top: 20px;
}
.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}
.relative{
	position: relative;
}
section{
	padding: 80px 0;
	position: relative;
}
.lg-section{
	padding: 150px 0;
}
.section-text-widget h2{
	margin-bottom: 40px;
}
.section-text-widget h4{
	margin-bottom: 24px;
}
.section-text-widget h4 span{
	color: rgba(105, 112, 119, 0.4);
    font-weight: 400;
    position: relative;
    padding-left: 40px;
}
.section-text-widget h4 span::after{
	content: '';
    width: 24px;
    height: 1px;
    background: rgba(105, 112, 119, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 8px;
}
/*first screen and header*/
header{
	display: flex;
	justify-content: space-between;
	padding: 24px;
	position: absolute;
	width: 100%;
	align-items: center;
    top: 0;
}
header ul{
	position: absolute;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	background: #fff;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	padding: 20px;
	top: 90%;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}
header ul.active{
	opacity: 1;
	visibility: visible;
	transition: 0.3s ease;
}
header ul li{margin: 20px 0;}
header ul li:first-child{margin-top: 0;}
header ul li:last-child{margin-bottom: 0;}
header ul li a{
	color: var(--main-text);
	text-decoration: none;
	font-size: 16px;
	transition: 0.2s ease;
	
}
header ul li a:hover{
	opacity: 0.8;
	transition: 0.2s ease;
	color: inherit;
}
.button-middle{
	width: auto;
}
.alt-btn{
	background: #fff;
	box-shadow: var(--box-shadow);
	color: var(--main-text);
	text-align: center;
	font-size: 16px;
	border-radius: 16px;
	padding: 12px 20px;
	text-decoration: none;
	transition: 0.2s ease;
}
button{
	border: none;
	outline: none;
}
.alt-btn:hover{
	transition: 0.2s ease;
	color: inherit;
	opacity: 0.8;
}
.main-btn{
	background: var(--alt);
	padding: 12px 20px;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	transition: 0.2s ease;
}
.main-btn:hover{
	transition: 0.2s ease;
	opacity: 0.9;
	color: #fff
}
.menu-btn{
	background: #fff;
	padding: 12px 14px;
	border: none;
	outline: none;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.2s ease;
}
.menu-btn:hover {
	transition: 0.2s ease;
	opacity: 0.9;
}
.menu-btn .menu-burger{
	position: relative;
	height: 19px;
	width: 20px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 14px;
}
.menu-btn .menu-title{
	border-left: 1px solid #DDE1E6;
	padding-left: 14px;
}
.menu-btn .menu-burger span{
	background-color: var(--main-text);
	position: absolute;
	left: 0;
	top: 8px;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	transition: .2s ease;
}
.menu-btn .menu-burger::after,.menu-btn .menu-burger::before{
	content:'';
	background-color: var(--main-text);
	height: 2px;
	width: 20px;
	position: absolute;
	transition: .2s ease;
	left: 0;
}
.menu-btn .menu-burger::after{
	bottom: 0;
}
.menu-btn .menu-burger::before{
	top: 0;
}
section.first-screen{
	background: url(../images/bg.png);
	height: 100vh;
	background-position: bottom right;
    background-repeat: no-repeat;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;

}
.title-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: auto;
    justify-content: center;
}
.title-wrap h1{
	margin-bottom: 40px;
}
.title-wrap p{
	color: #697077;
	width: 70%;
	margin-bottom: 0;
}


/*promo video*/
.video-wrap{
	background: url('../images/tree.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	border-radius: 16px;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	flex-flow: column;
	color: #fff;
	padding: 208px 0;
}
.video-wrap h2{
	margin-bottom: 64px;
	color: #fff;
}
.video-wrap .play-btn{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}
.video-wrap .play-btn a{
	color: var(--alt);
	font-size: 24px;
	background: #fff;
	border-radius: 100%;
	padding: 33px;
	width: 96px;
	height: 96px;
	transition: 0.2s ease;

}
.video-wrap .play-btn a:hover{
	opacity: 0.8;
	transition: 0.2s ease;
}
.video-wrap .play-btn span{
	margin-top: 16px;
	font-size: 18px;
	font-weight: 700;
}
/*about section */
section.about:after{
	-webkit-transform: translate3d(0,0,0);
    content: '';
    background: #9EF0F0;
    filter: blur(235px);
    transform: rotate(75deg);
    width: 493px;
    height: 249px;
    position: absolute;
    right: 0;
    bottom: -114%;
    z-index: 0;
}
main#main-content{
	overflow: hidden;
}
.about-steps{
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.about-steps ul{
	list-style: none;
	padding-left: 20px;
}
.about-steps ul li{
	font-size: 24px;
	padding: 24px 0;
	color: var(--main-text);
	border-top: 1px solid rgba(105, 112, 119, 0.1);
}
.about-steps ul li:last-child{
	border-bottom: 1px solid rgba(105, 112, 119, 0.1);
}
.about-steps ul li span{
	margin-right: 20px;
	color: var(--sec-text);
}
/*modules section*/
.modules{
	overflow: hidden;
}

.modules-carousel .swiper-slide{
	background: #fff;
	border-radius: 16px;
	padding: 40px;
	width: 40%;
	height: 380px;
}
.modules-carousel .swiper-slide .moudule-icon{
	background: rgba(105, 112, 119, 0.08);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	padding: 8px;
	margin-bottom: 40px;
}
.modules-carousel .swiper-slide  h4{
	margin-bottom: 16px;
}
.modules-carousel .swiper-slide  p{
	margin-bottom: 0;
}
.modules-nav{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
} 
.modules-btn.swiper-button-disabled{
	opacity: 0.1;
}

.modules-btn{
	border: 1px solid rgba(105, 112, 119, 0.1);
	border-radius: 100%;
	padding: 12px;
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease;
}
.modules-btn:last-child{
	margin-left: 24px;
}

.modules-btn i{
	color: var(--main-text);
	font-size: 22px;
}
/*users*/
section.users.lg-section:before {
    content: '';
    background: #33B1FF;
    filter: blur(235px);
    -webkit-transform: translate3d(0,0,0);
    width: 314px;
    height: 264px;
    position: absolute;
    left: 14%;
    top: -25%;
    z-index: -1;
}
.users-bg{
	background: url(../images/users.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-position: center left;
	z-index: -1;
}
/*analysis*/
.analysis-bg{
	background: url(../images/analysis.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    background-position: center right;
	z-index: -1;
}
.analysis::after{
	content: '';
	background: #0F62FE;
	filter: blur(235px);
	-webkit-transform: translate3d(0,0,0);
	transform: rotate(-75deg);
    height: 206px;
    width: 293px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -2;
}
/*chat with family*/
.chat-bg{
	background: url(../images/chat.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-position: left center;
	z-index: -1;
}
.chat::after{
	content: '';
	background: #9EF0F0;
	filter: blur(289px);
	-webkit-transform: translate3d(0,0,0);
	transform: rotate(75deg);
	width: 493px;
	height: 551px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -2;
}
/*media gallery*/
.gallery-bg {
	background: url(../images/media-gallery.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    background-position: center right;
	z-index: -1;
}
/*team section*/
section.team:after {
    background: #33B1FF;
    filter: blur(360px);
	-webkit-transform: translate3d(0,0,0);
    content: '';
    width: 169px;
    height: 351px;
    position: absolute;
    right: 0;
    bottom: -55%;
}
.team-carousel{
	height: 320px;
	overflow: hidden;
	position: relative;
}
.additional-styles-carousel .swiper-pagination{
	right: 0%;
}
.additional-styles-carousel .swiper-pagination .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 12px 0;
}
.additional-styles-carousel .swiper-pagination .swiper-pagination-bullet{
	background: #DDE1E6;
	opacity: 1;
}
.additional-styles-carousel .swiper-pagination .swiper-pagination-bullet-active{
	background: var(--alt);
}
.team-carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team-member img{
	border-radius: 16px;
}
.team-carousel .swiper-slide .team-member-info{
	margin-left: 32px;
	margin-right: 80px;
}
/*parthners*/
.parthners{
	background: rgba(105, 112, 119, 0.04);
}
.parthners-logos {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.parthners-logos img {
    object-fit: contain;
    margin: 40px 0;
}
/*faq*/
.faq::before{
	background: #0F62FE;
    filter: blur(199px);
    transform: rotate(-75deg);
    -webkit-transform: translate3d(0,0,0);
    content: '';
    width: 321px;
    height: 351px;
    position: absolute;
    left: -8%;
    bottom: -17%;
    z-index: -1;
}
.faq-accordion  > .faq-accordion-item > .toggle-accordion  + * {
	display: none;
}
.faq-accordion > .faq-accordion-item > .toggle-accordion.active + * {
    display: block;
}

.faq-accordion .toggle-accordion-content{
	font-size: 16px;
	color: var(--sec-text);
	padding: 0 24px 27px 24px;
}
.faq-accordion-item{
	margin-top: 8px;
}
.toggle-accordion{
	padding: 27px 24px;
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-accordion-item:last-child{
	margin-bottom: 0;
}
.faq-accordion-item{
	background: #FFFFFF;
	border: 1px solid rgba(105, 112, 119, 0.2);
	box-sizing: border-box;
	border-radius: 16px;
	color: var(--main-text);
	-webkit-touch-callout: none;
	-webkit-user-select: none;   
	-khtml-user-select: none;    
	-moz-user-select: none;      
	-ms-user-select: none;       
	user-select: none;
	box-shadow: 0px 4px 20px rgba(18, 22, 25, 0.08)        
}
.toggle-accordion{
	position: relative;
}
.toggle-accordion:after {
    font-family: "Font Awesome 5 Free";
   content: "\f107";
   font-weight: 900;
   color: var(--sec-text);
   transition: 0.1s ease;
}
.toggle-accordion.active:after{
	transition: 0.1s ease;
	transform: rotate(180deg);
}
.toggle-accordion:hover{
	cursor: pointer;
}
/*news*/
.news-item{
	margin-bottom: 40px;
	text-decoration: none;
	transition: 0.2s ease;
	display: block;
}

.news-item:hover h4,.news-item:hover time, .news-item:hover img{
	transition: 0.2s ease;
	opacity: 0.8;
}
.news-item .news-thumbnail{
	margin-bottom: 16px;
}
.news-item .news-thumbnail img{
	width: 100%;
    object-fit: cover;
    max-height: 180px;
    border-radius: 16px;
}
.news-item h4{
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 24px;
}

.news-item .news-date,.roadmap-content time{
	color: var(--sec-text);
	font-size: 12px;
}
.news-item .news-date time{
	position: relative;
	margin-right: 14px;
}
.news-item .news-date time:first-child:after{
	content: '';
    width: 1px;
    height: 12px;
    background: rgba(105, 112, 119, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 8px;
}
/*contact form*/
.contact-form{
	border-radius: 24px;
	background: #fff;
	position: relative;
	padding: 32px;
}
.form-inputs label{
	margin-bottom: 8px;
}

.submit-items span{
	font-size: 13px;
	margin-left: 23px;
}
.form-group.submit-items{
	justify-content: space-between;
	margin-top: 32px;
}
input{
	margin-bottom: 28px;
}
textarea{
	resize: none;
}
input, textarea{
	border: 1px solid rgba(105, 112, 119, 0.2);
	box-sizing: border-box;
	border-radius: 12px;
	background: #fff;
	padding: 13px 16px;
	color: var(--main-text);
	font-size: 14px;
}
.rating-form{
	margin-bottom: 34px;
}
.contact-form .rating-form .form-group label{
	font-size: 28px;
}
.starPicker{
	cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
}
.contact-form .form-inputs {
    display: flex;
    flex-flow: column;
}
.contact-form:before{
	content: '';
    position: absolute;
    background: #33B1FF;
    filter: blur(78px);
	-webkit-transform: translate3d(0,0,0);
    width: 471px;
    height: 396px;
    z-index: -1;
    left: 0;
    top: 0;
}
.contact-form:after{
    content: '';
    position: absolute;
    background: #0F62FE;
    filter: blur(115px);
	-webkit-transform: translate3d(0,0,0);
    transform: rotate(-75deg);
    width: 185px;
    height: 104px;
    z-index: -1;
    right: 0;
    bottom: 5%;
}
.contact-form label{
	font-size: 12px;
	font-weight: 500;
	color: var(--main-text);
}
 .fa-star {
    
	color: #E1E2E4;
    padding: 0 4px;
}
.clickedStar{
	color: #F9A702;
}
.radioBtnStar{
    display: none;
}
.ratingDiv{
  text-align:center;
  margin-top:8em;
}

.form-group{
  display: flex;
  margin-top: 13px;
}

/*footer*/
footer {
	margin-top: 80px;
	font-size: 14px;
	line-height: 22px;
	background: #fff;
}
footer .logotype{
	margin-bottom: 24px;
    display: flex;
    align-items: center;
	text-decoration: none;
	transition: 0.2s ease;
}
footer .logotype:hover{
	transition: 0.2s ease;
	opacity: 0.8;
}
footer .logotype span{
	color: var(--main-text);
	font-size: 18px;
	font-weight: bold;
	margin-left: 12px;
}
.footer-widget .widget-title{
	color: var(--main-text);
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 12px;
	margin-top: 16px;
}
.footer-widget ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.footer-widget .widget-menu ul li{
	margin-bottom: 12px;
}
.footer-widget .widget-menu ul li i{
	margin-right: 14px;
}
.footer-widget .widget-menu ul li a{
	font-size: 14px;
	text-decoration: none;
	color: inherit;
	transition: 0.2s ease;
}
.footer-widget .widget-menu ul li a:hover{
	opacity: 0.8;
	transition: 0.2s ease;
}
.social-menu ul{
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.social-menu ul li{
	margin-right: 12px;
	transition: 0.8s ease;
}
.social-menu ul li:last-child{
	margin-right: 0;
}
.social-menu ul li:hover{
	opacity: 0.8;
	transition: 0.8s ease;
}
.social-menu ul li a{
	background: #F0F1F1;
	padding: 9px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	color: var(--sec-text);
	text-decoration: none;
}
.social-menu ul li a i{
	font-size: 20px;
}
.copyrights{
	background: #fff;
}
.copyrights, footer{
	border-top: 1px solid rgba(105, 112, 119, 0.1);
	padding: 40px 0;
}
.copyrights-widgets{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
}
.copyrights-widgets ul{
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0;
}
.copyrights-widgets ul li{
	margin-right: 12px;
	position: relative;
}
.copyrights-widgets ul li a{
	color: var(--sec-text);
	text-decoration: none;
	transition: 0.2s ease;
}
.copyrights-widgets ul li a:hover{
	opacity: 0.8;
	transition: 0.2s ease;
}
.copyrights-widgets ul li:last-child{
	margin-right: 0;
}
.copyrights-widgets ul li:last-child::after{
	content: none;
}
.copyrights-widgets ul li::after{
	content: '/';
	margin-left: 12px;
}
/*preloader*/
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:99; 
	display: flex;
    align-items: center;
    justify-content: center;
}
/*roadmap*/
.roadmap-bg {
    background: url(../images/road-desk.png);
    height: 69vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.roadmap-three{
	display: flex;
	justify-content: space-between;
}
.roadmap-three .roadmap-item{
	width: 25%;
	height: 4px;
	background: #E7E8E8;
	position: relative;
}
.roadmap-three .roadmap-item:after {
	content: '';
	width: 16px;
	height: 16px;
	background: #E7E8E8;
	position: absolute;
	right: 0;
	border-radius: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	}
.roadmap-three .roadmap-item:last-child::after,.roadmap-three .roadmap-item:last-child::before{
	content: none;
}	
.roadmap-three .roadmap-item.active:first-child{
	background: linear-gradient(-90deg, #24A148 0%, rgba(36, 161, 72, 0) 100%);
}
.roadmap-three .roadmap-item.active{
	background: var(--alt);
}
.roadmap-three .roadmap-item.active:after{
	background: var(--alt);
	box-shadow: 0px 0px 11px rgb(36 161 72), 0px 0px 12px rgb(36 161 72), 0px 0px 11px rgb(36 161 72);
}
.roadmap-three .roadmap-item:before{
	content: '';
	width: 1px;
	height: 72px;
	position: absolute;
	background: linear-gradient(180deg, #E7E8E8 0%, #e7e8e829
	100%);
	right: 8px;
}
.roadmap-three .roadmap-item.active:before{
	background: linear-gradient(180deg, #24A148 0%, rgba(36, 161, 72, 0) 100%);
}
.roadmap-three .roadmap-item:nth-child(2)::before{
	top:auto;
	transform: rotate(180deg);
	bottom: 0;
}
.roadmap-three .roadmap-item .roadmap-content{
	position: absolute;
	top: 0;
	margin-top: 86px;
	left: -3%;
}
.roadmap-three .roadmap-item .roadmap-content p{
	font-size: 14px;
	line-height: 22px;
}
.roadmap-three .roadmap-item .roadmap-content h4{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
}
.roadmap-three .roadmap-item:nth-of-type(2n+1) .roadmap-content {
	top: auto;
	bottom: 0;
	margin-bottom: 86px;
	
}
.roadmap-wrap {
	padding: 220px 0;
	}