/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.users-bg,.analysis-bg,.gallery-bg{
		background-size: 45%;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.section-text-widget h4 {
		font-size: 18px;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.hide-on-desk{
		display: block;
	}
	header{
		padding: 9px 24px;
	}
	.video-wrap h2{
		font-size: 34px;
	}
	.additional-styles-carousel .swiper-pagination{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-flow: row;
	}
	section.team:after{
		right: auto;
		left: 0;
		width: 279px;
    height: 240px;
		bottom: -10%;
	}
	.users-bg{
		background-size: 100%;
	}
	.team-carousel .swiper-slide .team-member-info{
		margin-left: 0;
		margin-right: 0;
		margin-top: 25px;
	}

	.news-item .news-thumbnail img{
		max-height: 246px;
	}
	.team-desc{
		color: #121619;
	}
	.team-member-info h3{
		font-size: 18px;
	}
	.team-member-info nav.social-menu{
		position: absolute;
		right: 16px;
		top: 16px;
	}
	.mb-80{
		margin-bottom: 0;
	}
	.text-left-sm{
		text-align: left;
	}
	.team-member {
		display: block;
		width: 100%;
	}
	.users-bg,.analysis-bg,.chat-bg,.gallery-bg{
		position: relative;
		height: 260px;
		background-size: contain;
		background-position: center;
	}
	.parthners-logos img{
		width: 20%;
	}
	.team-carousel .swiper-slide{
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.team-member img{
		width: 100%;
		object-fit: cover;
		max-height: 511px;
		object-position: top;
	}
	.team-carousel{
		height: 100%;
	}
	.sm-order:first-child {
		order: 1;
	}
	.sm-order-alt:last-child{
		order: 1;
	}
	.team-carousel .swiper-wrapper{
		margin-bottom: 36px;
	}
	
	footer:before {
		content: '';
		position: absolute;
		background: #0F62FE;
		filter: blur(115px);
		-webkit-transform: translate3d(0,0,0);
		transform: rotate(-75deg);
		width: 358px;
		height: 52px;
		z-index: 1;
		right: 0;
		top: -21%;
	}
	.contact-form:after{
		content: none;
	}
	.contact-form{
		z-index: 99;
	}
	footer{
		position: relative;
	}
	.contact-form:before{
		content: none;
	}
	.contact .section-text-widget{
		position: relative;
	}
	.contact .section-text-widget::after{
	    content: '';
    position: absolute;
    background: #33B1FF;
    filter: blur(78px);
    -webkit-transform: translate3d(0,0,0);
    width: 471px;
    height: 396px;
    z-index: -1;
    left: 0;
    top: 0;
	}
	.contact .section-text-widget::after {
		content: '';
		position: absolute;
		background: #33B1FF;
		filter: blur(171px);
		-webkit-transform: translate3d(0,0,0);
		width: 194px;
		height: 383px;
		z-index: -1;
		bottom: -230%;
		top: 0;
	}
	section.users.lg-section:before{
		width: 128px;
		height: 264px;
	}
	section.about:after{
		bottom: -38%;
		width: 273px;
    height: 249px;
	right: 5%;
	}
	.chat::after{
		width: 400px;
		height: 257px;
		right: 0;
		bottom: 0;
		left: auto;
	}
	.analysis::after{
		right: auto;
	}
	.modules-carousel .swiper-slide{
		height: auto;
	}
	.faq::before{
		width: 263px;
    	height: 186px;
    	position: absolute;
    	left: -8%;
    	bottom: -16%;
    	z-index: -1;
		display: block;
	}
	.roadmap-wrap{
		
		padding: inherit;
	}
	.roadmap-three-mobile{
		display: flex;
	}
	.roadmap-three{
		justify-content: stretch;
		flex-flow: column;
		position: relative;
		height: 100%;
	}
	.roadmap-three .roadmap-item .roadmap-content{
		left: auto;
		top: auto;
		margin-top: 0;
		position: relative;
		margin-left: 48px;
		margin-bottom: 32px;
	}
	.roadmap-three .roadmap-item .roadmap-content p{
		margin-bottom: 0;
		color: var(--main-text);
		margin-top: 4px;
	}
	.roadmap-content time{
		font-weight: 500;
	}
	.roadmap-three .roadmap-item .roadmap-content p{
		margin-bottom: 0;
	}
	.roadmap-three .roadmap-item{
		width: 100%;
		height: auto;
		border-left: 4px solid #E7E8E8;
	}
	.roadmap-three .roadmap-item.active{
		border-left: 4px solid var(--alt);
		background: transparent;
	}
	.roadmap-three .roadmap-item{
		background: transparent;
	}
	.roadmap-three .roadmap-item:nth-of-type(2n+1) .roadmap-content{
		margin-bottom: 32px;
	}
	.roadmap-three .roadmap-item:nth-of-type(2n+1) .roadmap-content{
		margin-bottom: 32px;
	}
	.roadmap-three .roadmap-item:last-child{
		border: none;
	}
	.roadmap-three .roadmap-item.active:first-child::before{
		content: '';
	}
	.roadmap-three .roadmap-item:after{
		top: auto;
		bottom: auto;
		right: auto;
		left: -10px;
	}
	.roadmap-three .roadmap-item:before{
		width: 34px;
		height: 1px;
		right: auto;
		left: 0;
		top: 7px;
	}
	.roadmap-three .roadmap-item:last-child::before{
		content: '';
	}
	.roadmap-three .roadmap-item:nth-child(2)::before{
		content: none;
	}
	.roadmap-three .roadmap-item .roadmap-content h4{
		line-height: 1;
	}
	.roadmap-three .roadmap-item.active:before {
		background: linear-gradient(90deg, #24A148 0%, rgba(36, 161, 72, 0) 100%);
	}
	.roadmap-three .roadmap-item:before{
		background: linear-gradient(90deg, #E7E8E8 0%, #e7e8e829 100%);
	}
	.roadmap-wrap{
		margin-top: 32px;
	}
	.footer-widget-image a{
		justify-content: flex-start;
	}
	.footer-widget-image img{
		width: 50%;
	}
	.page-title{
		font-size: 32px;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	header .lang ul{
		top: 176%;
		margin-right: 0;
		width: auto;
		right: auto;
	}
	#team .modules-nav{
		display: flex;
	}
	.modules-btn.video-next, .modules-btn.video-prev{
		top: 40%;
	}
	.parthners-logos{
		flex-flow: wrap;
	}
	.rating-form{
		margin-bottom: 22px;
	}
	.form-group.submit-items{margin-top: 24px;}
	.button-middle{
		width: 100%;
		display: block;
	}
	textarea{
		height: 96px;
	}
	input{
		margin-bottom: 16px;
	}
	footer:before{
		height: 64px;
	}
	.team-carousel{
		max-height: 620px;
	}
	.section-text-widget h4 {
		font-size: 12px;
	}
	.mb-60{
		margin-bottom: 0;
	}
	.section-text-widget h2{
		font-size: 30px;
		margin-bottom: 32px;
	}
	section{
		padding: 30px 0;
	}
	body{
		font-size: 16px;
	}
	.title-wrap p{
		width: auto;
	}
	.hide-on-mob{
		display: none;
	}
	.menu-btn .menu-title{
		display: none;
	}
	.menu-btn .menu-burger{
		margin-right: 0;
	}
	.menu-btn{
		order: 1;
	}
	header ul{
		margin-right: 24px;
		right: 0;
	}
	.title-wrap h1{
		font-size: 40px;
	}
	section.first-screen{
		background-size: 139%;
	}
	.row.no-gutters-sm > [class^="col-"],.row.no-gutters-sm > [class*=" col-"]{
		padding-right: 0;
		padding-left: 0;
	}
	.video-wrap{
		border-radius: 0;
		padding: 89px 0;
	}
	.video-wrap .play-btn a{
		width: 48px;
		height: 48px;
		font-size: 18px;
		padding: 0;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.video-wrap h2,.video-wrap .play-btn span{
		display: none;
	}
	.about-steps{
		display: block;
	}
	.about-steps ul{
		padding-left: 0;
		margin-bottom: 0;
	}
	.about-steps ul li{
		font-size: 18px;
		padding: 16px 0;
	}
	.modules-nav{
		display: none;
	}
	.modules-carousel .swiper-slide{
		padding: 16px;
	}
	.copyrights, footer{
		padding: 32px 0;
	}
	.copyrights-widgets{
		flex-flow: column;
		align-items: flex-start;
	}
	.form-group.submit-items{
		flex-flow: column;
	}
	.submit-items span{
		margin-left: 0;
		margin-top: 24px;
	}
	.contact-form{
		padding: 16px 16px 24px 16px;
		line-height: 20px;
	}
	.contact-form{
		margin-top: 26px;
	}
	.contact-form .form-group label {
		font-size: 34px;
	}
	.news-item h4{
		font-size: 16px;
	}
	.news-item{
		margin-bottom: 24px;
	}

	.toggle-accordion{
		padding: 16px;
	}
	.parthners-logos img{
		width: 100%;
		height: 60px;
	}
	.lg-section{
		padding: 60px 0;
	}
	.team-member img {
		width: 100%;
		object-fit: cover;
		max-height: 330px;
		object-position: top;
	}
	.page-title{
		font-size: 26px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.team-member img {
		max-height: 240px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {
	
}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
